{% extends "base.html" %}
{% block content %}

   {% with messages = get_flashed_messages() %}
    {% if messages %}
    
    <div class="alert alert-info" role="alert">
     {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

  <h2>Dodaj nową książkę: </h2>
  <div id="createBookFormContainer">
        <form action="/admin" method="post">
            <div class="col-xs-2">
                <span class="input-group-addon" id="sizing-addon3">Tytuł:</span>
            </div>
            <div class="col-xs-2">
                <input  class="form-control" placeholder="Title"  type = "text" name = "title" />
            </div>
            <div class="col-xs-2">
                <span class="input-group-addon" id="sizing-addon3">Autor:</span>
            </div>
            <div class="col-xs-2">
                <input class="form-control" placeholder="Author" type = "text" name = "author"/>
            </div>  
             <div class="col-xs-2">
                <span class="input-group-addon" id="sizing-addon3">Ilość:</span>
            </div>
             <div class="col-xs-2">
                <input class="form-control" placeholder="Quantity" type = "text" name = "quantity"/>
            </div> 
	    </br></br></br></br></br>
                <button id="addButton" type="submit" name= "add" class="btn btn-default">Add</button>
        </form>
    </div>

    <h2> Usuń książkę: </h2>
    <div id="deleteBookFormContainter">
      <form action="/admin" method="post">
            <div class="col-xs-2">
                <span class="input-group-addon" id="sizing-addon3">Id:</span>
            </div>
            <div class="col-xs-2">
                <input  class="form-control" placeholder="id"  type = "text" name = "id" />
            </div>
     
	    </br></br>
                <button id="addButton" type="submit" name= "delete" class="btn btn-default">Delete</button>
        </form>
    </div>
    
     <h2> Dostępne książki: </h2>
     <table class="table table-striped" border="1" style="width:100%; margin-top:20px">
        <tr>    
            <td> Id </td> <td> Title </td>  <td> Author</td> <td> Quantity </td>
        </tr>
        {% for rec in availableBooks %}        
        <tr>
             <td> {{ rec.id }} </td> <td>{{ rec.title }} </td> <td> {{ rec.author }}</td> <td> {{ rec.quantity }} </td>
        </tr>
        {% endfor %}
      </table>


{% endblock %}