body{
    background-color: ;
}


#main {
     margin: 0 auto;
     width:800px; 

}

#content{
     width:800px;
        

}

#logo{
    width:800px;
    height:300px;
    margin: 0 auto;
    background-image: url("logo.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

#footer{
    width:800px;
    height:20px;
    margin: 0 auto;
    border: 1px solid;

}
