{% extends "base.html" %}
{% block content %}
    


     <h1>Rezerwacja</h1>
                 <form action="/login" method="post">                    
                    <table>
                    <tr>
                         <td style="padding-left:10px"><input type = "text" name = "nickname" />   </td>
                         <td style="padding-left:25px"><input type = "text" name = "password" />  </td>
                
                    </tr>
                     </table>
                     </br>
                     <p><input type="submit" name="login" value="Submit"></p>
           
      </form>  

    


{% endblock %}
