<html>
  <head>
    {% if title %}
    <title>{{ title }} </title>
    {% else %}
    <title></title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
  </head>
  <body>
    
    <div id="main">
   <div id="content">

    <p>Witaj {{ name }}  </p>
    <h2> Zarezerwuj książkę: </h2>
    <p> wystarczy podać identyfikatory po przecinku </p>
    
    <form action="/login" method="post" name="reservation">
        <input type = "text" name = "id" />
        <p><input type="submit" value="Rezerwuj"></p>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
     {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <h2> Wypożyczone książki: </h2>
     <table border="1" style="width:100%; margin-top:20px">
        <tr>    
            <td> Id </td> <td> Title </td>  <td> Author</td> 
        </tr>
        {% for rec in reservedBooks %}        
        <tr>
             <td> {{ rec[1].id }} </td> <td>{{ rec[1].title }} </td> <td> {{ rec[1].author }}</td>
        </tr>
        {% endfor %}
    </table>
    <h2> Dostępne książki: </h2>
     <table border="1" style="width:100%; margin-top:20px">
        <tr>    
            <td> Id </td> <td> Title </td>  <td> Author</td> <td> Quantity </td>
        </tr>
        {% for rec in availableBooks %}        
        <tr>
             <td> {{ rec.id }} </td> <td>{{ rec.title }} </td> <td> {{ rec.author }}</td> <td> {{ rec.quantity }} </td>
        </tr>
        {% endfor %}
    </div>
    </div>
   
  </body>
</html>
